#Archivos que considero datasets grandes, lastima que git no lo permita nativamente
*.csv
*.csv.gz
*.pkl
data/l_vm_completa_train.parquet
*.parquet

lgbm_clasif_model.txt
data/
AutogluonModels/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.md
*_files/
__pycache__/
!README.md
*.ipynb_checkpoints/

*copia.ipynb

# XCode
xcuserdata
project.xcworkspace

# Notepad++
nppBackup

# SublimeText project files
*.sublime-workspace

# Textmate
*.tmproj
*.tmproject
tmtags

# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# Editors with AutoBackup
*~

#######################################
# File backups                        #
#######################################

*.bak
*.backup


#######################################
# Languages                           #
#######################################

# Java
*.class
*.ear
*.jar
*.war

# C
*.o
*.lib
*.a
*.dll
*.ko
*.so
*.so.*
*.dylib
*.exe
*.out
*.app

# C++
*.slo
*.lo
*.o
*.so
*.dylib
*.lai
*.la
*.a

# Latex
*.acn
*.acr
*.alg
*.aux
*.bcf
*.bbl
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.pdftex
*.ps
*.pyg
*.snm
*.synctex.gz
*.thm
*.toc
*.vrb
*.xdy
*.tdo

# Python
*.pyc

# Scala - sbt specific
.cache
.history
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target

# Scala - IDE specific
.scala_dependencies
.worksheet

.vscode/settings.json
data/l_vm_completa_train.parquet
lgbm_clasif_model.txt
lgbm_model.txt
data/l_vm_completa_train.parquet
lgbm_clasif_model.txt
lgbm_model.txt
lgbm_model_clasif.txt
lgbm_model_reg.txt
modelos/optuna.db
modelos/lgbm_model_reg_sin_val.txt
modelos/lgbm_model_reg_todos_los_productos.txt
AutogluonModels/ag-20250626_223424/learner.pkl
AutogluonModels/ag-20250626_223424/metadata.json
AutogluonModels/ag-20250626_223424/predictor.pkl
AutogluonModels/ag-20250626_223424/version.txt
AutogluonModels/ag-20250626_223657/learner.pkl
AutogluonModels/ag-20250626_223657/metadata.json
AutogluonModels/ag-20250626_223657/predictor.pkl
AutogluonModels/ag-20250626_223657/version.txt
AutogluonModels/ag-20250626_224756/learner.pkl
AutogluonModels/ag-20250626_224756/metadata.json
AutogluonModels/ag-20250626_224756/predictor.pkl
AutogluonModels/ag-20250626_224756/version.txt
AutogluonModels/ag-20250626_225406/ds_sub_fit/sub_fit_ho/learner.pkl
AutogluonModels/ag-20250626_225406/ds_sub_fit/sub_fit_ho/metadata.json
AutogluonModels/ag-20250626_225406/ds_sub_fit/sub_fit_ho/predictor.pkl
AutogluonModels/ag-20250626_225406/ds_sub_fit/sub_fit_ho/version.txt
AutogluonModels/ag-20250626_225636/learner.pkl
AutogluonModels/ag-20250626_225636/metadata.json
AutogluonModels/ag-20250626_225636/predictor.pkl
AutogluonModels/ag-20250626_225636/version.txt
AutogluonModels/ag-20250626_230128/learner.pkl
AutogluonModels/ag-20250626_230128/metadata.json
AutogluonModels/ag-20250626_230128/predictor.pkl
AutogluonModels/ag-20250626_230128/version.txt
AutogluonModels/ag-20250626_230517/learner.pkl
AutogluonModels/ag-20250626_230517/metadata.json
AutogluonModels/ag-20250626_230517/predictor.pkl
AutogluonModels/ag-20250626_230517/version.txt
AutogluonModels/ag-20250626_230517/models/trainer.pkl
AutogluonModels/ag-20250626_230517/models/KNeighborsDist_BAG_L1/utils/model_template.pkl
AutogluonModels/ag-20250626_230517/models/KNeighborsUnif_BAG_L1/utils/model_template.pkl
AutogluonModels/ag-20250626_230517/models/LightGBM_BAG_L1/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBM_BAG_L1/S1F1/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBM_BAG_L1/S1F2/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBM_BAG_L1/S1F3/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBM_BAG_L1/S1F4/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBM_BAG_L1/S1F5/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBM_BAG_L1/S1F6/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBM_BAG_L1/S1F7/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBM_BAG_L1/S1F8/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBM_BAG_L1/utils/model_template.pkl
AutogluonModels/ag-20250626_230517/models/LightGBM_BAG_L1/utils/oof.pkl
AutogluonModels/ag-20250626_230517/models/LightGBM_BAG_L2/utils/model_template.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L1/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L1/S1F1/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L1/S1F2/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L1/S1F3/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L1/S1F4/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L1/S1F5/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L1/S1F6/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L1/S1F7/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L1/S1F8/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L1/utils/model_template.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L1/utils/oof.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L2/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L2/S1F1/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L2/S1F2/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L2/S1F3/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L2/S1F4/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L2/S1F5/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L2/S1F6/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L2/S1F7/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L2/S1F8/model.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L2/utils/model_template.pkl
AutogluonModels/ag-20250626_230517/models/LightGBMXT_BAG_L2/utils/oof.pkl
AutogluonModels/ag-20250626_230517/models/WeightedEnsemble_L2/model.pkl
AutogluonModels/ag-20250626_230517/models/WeightedEnsemble_L2/utils/model_template.pkl
AutogluonModels/ag-20250626_230517/models/WeightedEnsemble_L2/utils/oof.pkl
AutogluonModels/ag-20250626_230517/models/WeightedEnsemble_L3/model.pkl
AutogluonModels/ag-20250626_230517/models/WeightedEnsemble_L3/utils/model_template.pkl
AutogluonModels/ag-20250626_230517/models/WeightedEnsemble_L3/utils/oof.pkl
AutogluonModels/ag-20250626_230517/utils/attr/LightGBM_BAG_L1/y_pred_proba_val.pkl
AutogluonModels/ag-20250626_230517/utils/attr/LightGBMXT_BAG_L1/y_pred_proba_val.pkl
AutogluonModels/ag-20250626_230517/utils/attr/LightGBMXT_BAG_L2/y_pred_proba_val.pkl
AutogluonModels/ag-20250626_232829/learner.pkl
AutogluonModels/ag-20250626_232829/metadata.json
AutogluonModels/ag-20250626_232829/predictor.pkl
AutogluonModels/ag-20250626_232829/version.txt
AutogluonModels/ag-20250626_232829/models/trainer.pkl
AutogluonModels/ag-20250626_232829/models/KNeighborsDist_BAG_L1/utils/model_template.pkl
AutogluonModels/ag-20250626_232829/models/KNeighborsUnif_BAG_L1/utils/model_template.pkl
AutogluonModels/ag-20250626_232829/models/LightGBM_BAG_L1/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBM_BAG_L1/S1F1/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBM_BAG_L1/S1F2/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBM_BAG_L1/S1F3/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBM_BAG_L1/S1F4/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBM_BAG_L1/S1F5/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBM_BAG_L1/S1F6/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBM_BAG_L1/S1F7/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBM_BAG_L1/S1F8/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBM_BAG_L1/utils/model_template.pkl
AutogluonModels/ag-20250626_232829/models/LightGBM_BAG_L1/utils/oof.pkl
AutogluonModels/ag-20250626_232829/models/LightGBM_BAG_L2/utils/model_template.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L1/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L1/S1F1/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L1/S1F2/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L1/S1F3/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L1/S1F4/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L1/S1F5/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L1/S1F6/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L1/S1F7/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L1/S1F8/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L1/utils/model_template.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L1/utils/oof.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L2/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L2/S1F1/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L2/S1F2/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L2/S1F3/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L2/S1F4/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L2/S1F5/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L2/S1F6/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L2/S1F7/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L2/S1F8/model.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L2/utils/model_template.pkl
AutogluonModels/ag-20250626_232829/models/LightGBMXT_BAG_L2/utils/oof.pkl
AutogluonModels/ag-20250626_232829/models/WeightedEnsemble_L2/model.pkl
AutogluonModels/ag-20250626_232829/models/WeightedEnsemble_L2/utils/model_template.pkl
AutogluonModels/ag-20250626_232829/models/WeightedEnsemble_L2/utils/oof.pkl
AutogluonModels/ag-20250626_232829/models/WeightedEnsemble_L3/model.pkl
AutogluonModels/ag-20250626_232829/models/WeightedEnsemble_L3/utils/model_template.pkl
AutogluonModels/ag-20250626_232829/models/WeightedEnsemble_L3/utils/oof.pkl
AutogluonModels/ag-20250626_232829/utils/attr/LightGBM_BAG_L1/y_pred_proba_val.pkl
AutogluonModels/ag-20250626_232829/utils/attr/LightGBMXT_BAG_L1/y_pred_proba_val.pkl
AutogluonModels/ag-20250626_232829/utils/attr/LightGBMXT_BAG_L2/y_pred_proba_val.pkl
AutogluonModels/ag-20250626_235457/metadata.json
